@model List<VX24TTK2.Models.TravelCompany>

<div class="container mt-5">

    <h2>🏢 Công ty du lịch liên kết</h2>

    <table class="table table-striped mt-4">

        <tr>
            <th>Tên công ty</th>
            <th>Điện thoại</th>
            <th>Email</th>
            <th>Website</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CompanyName</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                <td>
                    <a href="@item.Website"
                       target="_blank"
                       style="word-break:break-all;">
                        @item.Website
                    </a>
                </td>
            </tr>
        }

    </table>

</div>